# [submodule "pybind11"]
# 	path = pybind11
# 	active = false
# 	url = https://github.com/pybind/pybind11.git
# [submodule "cppjieba"]
# 	path = cppjieba
# 	url = https://github.com/yanyiwu/cppjieba.git
[submodule "cppjieba/libcppjieba"]
	path = cppjieba/libcppjieba
	url = https://github.com/byronhe/cppjieba.git
