include README.md
include setup.py
recursive-include cppjieba/src *.cpp
recursive-include cppjieba/libcppjieba/include/cppjieba *.hpp
recursive-include cppjieba/libcppjieba/dict *.utf8
recursive-include cppjieba/libcppjieba/deps  *.hpp
